:root {
  --main-theme-color: #222f33;
  --link-color: #68cae8;
  --link-hover-color: #96e3fa;
}
body{
    font-family: "Georgia", Times, Sans-serif;
    font-size: 110%;
}
a{
  color: var(--link-color);
}
a:hover{
  color: var(--link-hover-color);
  border-bottom: 1.5px solid;
}

#page_footer{
   background-color: var(--main-theme-color);
}
#page_footer *{
   color: white;
}
#page_footer a{
   color: var(--link-color);
}

#entry{
  background-color: var(--main-theme-color);
  margin-bottom: 0.5%;
  padding-top: 30px;
}
#entry .entry-header{
  margin-top:2%;
  padding-left: 10%;
  width: 60%;
  color: white;
  font-size: 32pt;
}
#entry .entry-body{
  margin-top:2%;
  padding-left: 10%;
  width: 60%;
  color: white;
  font-size: 15pt;
}

#aboutme_section{
  background-color: var(--main-theme-color);
}
#aboutme_section_header{
  color: var(--main-theme-color);
  float: right;
  margin-right: 10%;
  margin-top: -50px;
  font-size: 30pt;
  background-color: white;
  min-width: 300px;
  height: 60px;
  text-align: center;
  border-radius: 15px 15px 15px 15px;
}
#aboutme_section_content{
  padding-left: 10%;
  padding-top: 4%;
  color: white;
  width: 90%;
  font-size: 13pt;
}
#aboutme_section_content #profile_img{
  width: 300px;
  float: right;
  border: 3px solid;
}
#aboutme_section_contacts{
  float: right;
  margin-right: 10%;
  width: 250px;
  text-align: center;
  font-size: 15pt;
}
#aboutme_section_contacts a:hover{
  border-bottom: none;
}
#aboutme_section .footer{
  margin-top: 20px;
  color: white;
}
.sliders{
  width: 100px;
}
#aboutme_section .footer #pre_sliders{
  margin-left: 10%;
  min-width: 100px;
  min-height: 100px;
  max-width: 250px;
  display: inline-block;
  z-index: 1;
}
#filter_sections_menu{
  font-size: 22pt;
  margin-left: 10%;
  height: 55px;
  border-radius: 15px 15px 15px 15px;
  position: absolute;
  background-color: var(--main-theme-color);
  z-index: 100;
}
#filter_sections_menu a + .decoration.point{
  margin-left: 20px;
}
.decoration.point{
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color:white;
  margin-right: 20px;
}
#aboutme_section .footer #sliders{
  display: inline-block;
}
#aboutme_section .footer #sliders .slider-filter div{
  margin-left: 5px;
  display:inline-block;
}
#aboutme_section .footer #sliders .slider-filter .input-slider{
 width: 470px;
}
#aboutme_section .footer #sliders .slider-filter .input-label{
 font-size: 17pt;
 width: 1%;
 display: none;
}
.slider-filter + .slider-filter{
  margin-top: 15px;
}
#pre_filter_menu{
  display: inline-block;
  width: 40px;
  height: 20px;
  margin-right: 20px;
  margin-left: 45px;
  border: solid;
  background-color: var(--link-color);
}

.rs-container{
  width: 100%;
}
.rs-tooltip{
  border: none;
  font-size: 15pt;
  float: left;
  color: var(--link-color);
  min-width: 200px;
  background-color: transparent;
}
.rs-container .rs-bg,.rs-container .rs-selecte{
  background-color:white;
}
.rs-container .rs-selected{
  background-color:white;
  border: none;
}
.rs-container .rs-pointer{
  background-color:var(--link-color);
  border:none;
}
.rs-container .rs-scale span ins{
  color: white;
  font-size: 10pt;
  opacity: 0.4;
  display: none;
}


.section-separator{
 height: 5px;
 opacity: 0.6;
 width: 100%;
 background-color: var(--main-theme-color);
 margin-top: 30px;
}
#sections{
  padding-top: 60px;
}
#sections .sec-item{
 padding-left: 20px;
}
#sections .sec-item + .sec-item{
 margin-top: 25px;
}

#sections a{
  opacity: 0.6;
  color: var(--main-theme-color);
}
#sections a + a{
 margin-left: 40px;
}
#sections a:hover{
  opacity: 1.2;
  padding-bottom: 10px;
}
#sections{
  padding-left: 10%;
  padding-right: 10%;
}

#sections .gen-sec{
  margin-top: 5px;
}
.extra{
  margin-top: 10px;
}

#sections .gen-sec .sec-header{
  font-size: 22pt;
  margin-bottom: 15px;
  color: white;
  border: solid;
  width: fit-content;
  padding: 10px;
  background-color: var(--main-theme-color);
  border-radius: 15px 15px 15px 15px;
}

.section_label{
  display: inline-block;
}

.section_item + .section_item{
  margin-top: 5%;
}
.sec-item .title{
  font-size: 16pt;
}
.sec-item .subtitle{
  font-size: 16pt;
  opacity: 0.8;
}
.sec-item .content{
  margin-top: 5px;
  font-size: 12pt;
}

.publication .sec-item .title{
  font-size: 14pt;
}


@media only screen and (max-width: 1200px) {
  #entry .entry-body{
    width: 90%;
  }
  #aboutme_section_contacts{
    text-align: center;
    display: block;
    margin-right: 15%;
  }
  #aboutme_section .footer {
    margin-left: 10%;
    margin-right: 10%;
    display: table;
    width: 100%;
  }
  #pre_sliders{
    width: 100%;
    padding-right: 0px;
  }
  #sliders{

  }
  #filter_preview{
    display: none;
    float: right;
    transform: rotate(90deg);
  }

}

@media only screen and (max-width: 700px) {
 #entry{
    padding-bottom: 70px;
  }
  #filter_sections_menu{
    position: relative;
    min-height: 150px;
    min-width: 90%;
    margin-left: 0%;
  }
  #filter_sections_menu a{
    display: grid;
    text-align: left;
  }
  #filter_sections_menu .decoration.point{
    margin-left: 0%;
    display: none;
  }
  #filter_sections_menu #pre_filter_menu{
    margin-left: 0%;
  }
}
