:root {
  --main-theme-color: #7c464a;
}


.section_item + .section_item{
  margin-top: 7%;
}


.section_vertical_title_container{
  color: var(--main-theme-color);
  float:left;
}

.section_vertical_title{
  writing-mode: vertical-rl;
  text-orientation: mixed;
  color: var(--main-theme-color);
  font-size: 3.2rem;
  float: right;
}

.section_title{
  color: var(--main-theme-color);
  font-size: 3.2rem;
}

.web_card{
  margin-top: 1%;
  margin-bottom: 2%;
  border-top: solid;
}
.prev_subtitle{
  font-size: 120%;
  font-weight:200;
}

#_top a{
  color: white;
  border-bottom: solid thin;
}

.intro_eng_version{
  width: 85%;
  font-weight: 420;
  margin-bottom: 2%;
}

#preview_card_news{
  float: left;
  width: 50%;
  margin-left: 2%;
  min-height: 300px;
  /*overflow: scroll;*/
  /*max-height: 300px;*/
}

#preview_card_diary{
  width: 30%;
  float: left;
}

.add_img{
  float: right;
  margin-top: 0.5%;
}
.add_inner_img{
  width: 200px;
}


.section_label.section_title{
  display:inline;
  float:left;
  font-size: 1.6rem;
  margin-right: 1%;
  color: var(--main-theme-color);
}
.section_value.section_title{
  font-size: 1.6rem;
  color: #3d3d3d;
}
.section_label.section_subtitle{
  display:inline;
  float:left;
  font-size: 1.5rem;
  color: var(--main-theme-color);
  margin-right: 1%;
}
.section_value.section_subtitle{
  font-size: 1.5rem;
}
.section_label.section_content{
  font-size: 1.5rem;
  color: var(--main-theme-color);
  margin-top: 0.5%;
}
.section_value.section_content{
  font-size: 1.2rem;
}
a.section_content_link{
  font-size: 1.25rem;
  text-decoration: underline;
  color: #3d3d3d;
  font-weight: 520;
}

.section_value.section_title.publication{
  font-size: 2.4rem;
}
.section_value.section_subtitle.publication{
  font-size: 1.6rem;
}

.extra_elem{
  float:left;
}

.section_extra{
  margin-top: 1.5%;
}

.mobile_section_title{
  display: none;
}

#pro_img{
  text-align: center;
  width: 310px;
  height: 310px;
  margin-bottom: 50px;
  margin-left: 1%;
}

.bio_body{
  display:flex;
}
.bio_content{
  width:70%;
}

@media only screen and (max-width: 1200px) {

  #preview_card_news{
    float: left;
    width: 90%;
    margin-top:5%;
    margin-left:0%;
  }

  #preview_card_diary{
    width: 67%;
    float: left;
    margin-top: 4%;
  }

  .add_img{
    float: right;
    width: 33%;
    margin-top: 5%;
  }

  #pro_img{
    display:none;
  }
  .bio_body{
    display:block;
  }
  .bio_content{
    width:100%;
  }

  .extra_elem:after{
    float: left;
    content:"\a";
    white-space: pre;
  }

  .section_extra,
  tbody > tr > td{
    display:block;
    word-wrap:break-word;
    font-size: 0.85rem;
  }

  .extra_bio{
    text-align: center;
  }


  .section_item + .section_item{
    margin-top: 15%;
  }
}


@media only screen and (max-width: 700px) {


  #preview_card_news{
    width: 100%;
    float:left;
    margin-right: 0%;
    margin-left: 0%;
    margin-top: 10%;
  }

  #preview_card_diary{
    margin-top: 5%;
    width: 100%;
    float:left;
  }

  .add_inner_img{
    	display: none;
  }

  .section_vertical_title{
    writing-mode: unset;
    text-orientation: unset;
    display: none;
  }

  .mobile_section_title{
    display: block;
    margin:0 auto;
    text-align: center;
    font-size: 3.2rem;
    color: var(--main-theme-color);
  }

  .extra_elem:after{
    float: left;
    content:"\a";
    white-space: pre;
  }

  .section_extra,
  tbody > tr > td{
    display:block;
    word-wrap:break-word;
    font-size: 0.85rem;
  }

  .section_item + .section_item{
    margin-top: 15%;
  }


}
